.splash-screen{
    background-color: var(--splash-bg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-text{
    font-size: 40px;
    color: black;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}