:root{
    --bg-color:#E5E5E5;
    --splash-bg:#FFFFFF;
    --text-color:#FFFFFF;
    --msg-box1-color:#373E4E;
    --msg-box2-color:#272A35;
    --msg-write-box-color:rgba(0, 0, 0, 0.25);
    --button-color:#03A9F1;
    --button-radius:10px;


    --msg-box-radius:20px;
    --msg-write-box-radius:10px;

    --avatar-width:44px;
    --avatar-height:44px;
    --avatar-radius:30px;


}

body{
    background-color: var(--bg-color);
}